/* ---------------------------------------------------------------------------- */
/* --- 4. CONTENT
/* ----------------------------------------------------------------------------- */

#content {
	position: relative;
    background-color: #fff;
    z-index: 2;
}

/* Sliding */

.page-sliding {
    .section-content {
        //margin-right: 70px;

        @include media("<=screen-sm") {
            margin-right: 70px;
        }

        @include media("<=screen-xxs") {
            margin-right: 50px;
        }
    }
}

.fp-tableCell {
    position: relative;
    z-index: 2;
}

.fp-scroller {
    min-height: 100%;
}

#fp-nav {
    right: 50px !important; 
    z-index: 920;

    @include media("<=screen-xl") {
        right: 30px !important; 
    }

    @include media("<=screen-sm") {
        right: 20px !important; 
    }

    @include media("<=screen-xxs") {
        right: 10px !important; 
    }

    ul li {
        margin-bottom: 1rem;

        @include media("<=screen-sm") {
            margin-bottom: 0.35rem
        }
    }
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: $color-global;
    @include opacity(0.3);
    width: 6px;
    height: 6px;
    border: 1px solid $color-global;
    display: inline-block;
    margin: -3px 0 0 -3px;
    @include transition-primary;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    @include scale(1.5);
    background: transparent;
    border-color: $color-primary;
    @include opacity(1);
}

body.dark-scheme {
    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background-color: #fff;
        border-color: #fff;
    }
    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
        background: transparent;
        border-color: $color-primary;
    }
}

@import "_content/blog";
@import "_content/features";
@import "_content/media";
@import "_content/other";
@import "_content/points";
@import "_content/sections";
@import "_content/schedule";
@import "_content/timeline";
