/* ---------------------------------------------------------------------------- */
/* --- 3. NAVIGATION
/* ----------------------------------------------------------------------------- */

#navigation {  
    z-index: 970;  
}

/* Navigation Toggle */
.nav-toggle {
    position: relative;
    width: 32px;
    height: 20px;
    @include transform(rotate(0deg));
    @include transition-primary;
    cursor: pointer;
    display: inline-block;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color-global;
        @include opacity(1);
        left: 0;
        @include transition(0.25s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 8px;
        }

        &:nth-child(4) {
            top: 16px;
            width: 65%;
        }
    }

    &:hover {
        span {
            &:nth-child(4) {
                width: 100%;
            }
        }
    }

    &.open span {

        &:nth-child(1),
        &:nth-child(4) {
            @include scale(0);
        }

        &:nth-child(2) {
            @include transform(rotate(45deg));
        }

        &:nth-child(3) {
            @include transform(rotate(-45deg));
        }
    }
}

body:not(.navigation-horizontal).dark-scheme,
body.navigation-panel.navigation-open {
    #navigation.dark + #navigation-toggle {
        span {
            background-color: #fff;
        }
    }
}

@import "_navigation/navigation-horizontal";
@import "_navigation/navigation-panel";
@import "_navigation/navigation-vertical";
