/* 4.5 Points
----------------------------------------------------------*/

.points-container {
    @include fill-parent;
}

.point {
    position: absolute;
    color: inherit;
    font-weight: $font-primary-semibold;
    font-size: 0.95rem;
    z-index: 1;
    @include transition(none);
    visibility: hidden;
    z-index: 10;

    @include media('<=screen-sm') {     
        @include opacity(0.35);
        pointer-events: none;
        z-index: 1;
    }

    @for $i from 0 through 10 {
        &:nth-child(#{$i}) {
            .point-indicator {
                .point-indicator-circle > circle {
                    @include transition-delay(400ms * $i);
                }
                .point-indicator-plus { 
                    > path {
                        &:first-child {
                            @include transition-delay(400ms * $i + 400ms);
                        }
                        &:last-child {
                            @include transition-delay(400ms * $i);
                        }
                    }
                }
            }
        }
    }

    .point-indicator {
        position: relative;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        display: block;

        .point-indicator-circle,
        .point-indicator-plus {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            stroke: #fff;
            fill: transparent;
        }

        .point-indicator-circle {
            z-index: 1;
            > circle {
                stroke-dasharray: 150;
                stroke-dashoffset: 150;
                @include transition-secondary;
            }
        }

        .point-indicator-plus {
            @include transition-primary;
            @include transform-origin(center,center);
            z-index: 3;

            > path {
                @include transition-primary;
                &:first-child {
                    @include transform-origin(center, top);
                    @include scaleY(0);
                }
                &:last-child {
                    @include transform-origin(left, center);
                    @include scaleX(0);
                }
            }
        }
        
        .point-indicator-hover {
            @include fill-parent;
            background-color: $color-primary;
            z-index: 2;
            @include border-radius(50%);
            @include scale(0);
            visibility: hidden;
            @include opacity(0);
            @include transition-tertiary;
            display: none;
        }
    }

    .point-title {
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        left: calc(100% + 0.75rem);
        width: 200px;
        @include transition-primary;
        visibility: hidden;
        @include opacity(0);

        @include media("<=screen-sm") {
            top: calc(100% + 1rem);
            left: 50%;
            width: 120px;
            font-size: 0.9rem;
            text-align: center;
            @include translateX(-50%);
        }
    }

    &:hover, &:focus {
        color: inherit;

        .point-indicator {
            .point-indicator-hover {
                @include opacity(1);
            }
            .point-indicator-plus {
                @include rotate(90deg);
            }
            .point-indicator-hover {
                visibility: visible;
                @include opacity(1);
                @include scale(1.1);
            }
        }
        .point-title {
            @include opacity(1);
            visibility: visible;
        }
    }
}

body.loaded {
    .point {
        visibility: visible;
        
        .point-indicator {
            .point-indicator-circle > circle {
                stroke-dashoffset: 0;
            }
            .point-indicator-plus {
            @include transition-primary;
            @include transform-origin(center,center);

            > path {
                    &:first-child {
                        @include scaleY(1);
                    }
                    &:last-child {
                        @include scaleX(1);
                    }
                }
            }
            .point-indicator-hover {
                display: block;
            }
        }
    }
}

