/* 6.1 Ajax Modal
----------------------------------------------------------*/

#ajax-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1010;
	display: none;
	overflow: hidden;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
		height: 100vh;
		width: 100vw;
		@include scaleY(0);
		@include transform-origin(center, top);
		background-color: #fff;
		content: ' ';
		@include transition(transform 0.6s ease-out);
		@include box-shadow(0 0 100px 0 rgba(#000,0.1));
	}

	&.dark:before {
		background-color: $color-dark;
	}

	&.loading-started {
		&:before {
			@include scaleY(1);
		}
		#ajax-loader {
			visibility: visible;
			@include opacity(1);
		}
	}

	.ajax-modal-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: -30px;
		bottom: 0;
		height: 100vh;
		margin-right: 30px;
		overflow: auto;
		display: none;
	}

	.ajax-modal-close {
		@include button-clear;
		position: fixed;
		top: 50px;
		right: 50px;
		font-size: 1.2rem;
	    width: 32px;
	    height: 20px;
	    @include transform(rotate(270deg));
	    @include transition-secondary;
	    cursor: pointer;
	    display: inline-block;
		visibility: hidden;
		z-index: 20;
		@include opacity(0);
		background-color: transparent;

		@include media("<=screen-xl") {
            top: 40px;
            right: 40px;
        }

        @include media("<=screen-sm") {
            top: 30px;
            right: 30px;
        }

	    &:before, &:after {
	        display: block;
	        position: absolute;
	        top: 8px;
	        left: 50%;
	        height: 4px;
	        width: 16px;
	        background: $color-global;
	        @include opacity(1);
	    	@include transition-secondary;
	        content: ' ';
	    }

	    &:before {
	    	@include transform(translateX(-50%) rotate(45deg));
	    }

	    &:after {
	    	@include transform(translateX(-50%) rotate(-45deg));
	    }

	    &.visible {
	    	visibility: visible;
	    	@include transform(rotate(0deg));
			@include opacity(1);

			&:before, &:after {
	    		@include transition-primary;
			}

		    &:before {
		    	@include transform(translateX(-50%) rotate(45deg));
		    	width: 32px; 
		    }

		    &:after {
		    	@include transform(translateX(-50%) rotate(-45deg));
		    	width: 32px; 
		    }
	    }

	    &:hover {
	    	&:before, &:after {
	    		width: 46px;
	    	}
	    }
	}

	&.dark .ajax-modal-close {
		 &:before, &:after {
	        background: #fff;
	    }
	}
}

#ajax-tmp {
	display: none !important;
	visibility: hidden;
	position: absolute;
}

html.locked-scrolling,
html.locked-scrolling body {
  overflow: hidden;
}

.one-page.ajax-modal-open {
	#header .nav-primary {
		pointer-events: none;
	}
}
