/* 6.2 Alerts
----------------------------------------------------------*/

.alert {
	border: none;
	font-weight: 300;
	padding: 1rem 1.5rem;
	@include border-radius(0.2rem);
	color: #fff;
	font-size: 0.85rem;

	> .alert-icon {
		font-size: 120%;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1rem;
	}

	.close {
		margin-top: 0.5rem;
	}
}

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	&.alert-#{$type} {
		background-color: $color;
	}
	$k: $k+2;
}