/* 6.7 Cards
----------------------------------------- */

.card {
    border: none;
    margin-bottom: 1.75rem;
    @include transition-secondary;
    @include box-shadow(1px 1px 30px 0 rgba(#000,0.04)); d

    p {
        margin-bottom: 1.25rem;
    }
}

.card-header,
.card-footer {
    padding: 1.5rem 1.75rem;
	background-color: transparent;
}

.card-subtitle {
    margin-top: -0.5rem;
}

.card-block {
    padding: 1.75rem 1.75rem;

    &:first-child {
        .icon-circle {
            margin-top: -30px;
        }
    }
}

.card-link {
    font-weight: $font-primary-medium;
    font-size: 0.9rem;
    color: inherit;

    &:after {
        margin-left: 0.7rem;
        content: "\f105";
        font-family: FontAwesome;
        @include opacity(0.5);
        @include transition-primary;
        display: inline-block;
    }

    &:hover, &:focus {
        color: inherit;
        &:after {
            @include translateX(4px);
            @include opacity(1);
            color: $color-primary;
        }
    }
}

.card-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: $font-primary-medium;
    @include pie-clearfix;

    > li {
        width: 50%;
        float: left;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0.4rem;

        &:before {
            margin-right: 0.7rem;
            content: "\f105";
            font-family: FontAwesome;
            @include opacity(0.5);
        }

        > a {
            &:hover, &:focus {
                color: $color-primary;
            }
        }
    }
}

.card-icon,
.card-icon-top,
.card-icon-bottom {
    padding: 50px 0;
    font-size: 56px;
    text-align: center;
    color: #fff;
}

.card-icon-top {
    @include border-radius(3px 3px 0 0);
}

.card-icon-bottom {
    @include border-radius(0 0 3px 3px);
}
