/* 6.9 Forms
----------------------------------------------------------*/

// Form Group

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

// Label
label {
    font-weight: $font-primary-medium;
}

// Form Control

.form-control {
    @include appearance(none);
    border-color: $color-line;
    @include border-radius(0.2rem);
    @include box-shadow(none);
    color: $color-global;
    padding: 1rem;
    //font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    &:focus {
        border-color: $color-line;
    }

    &.error {
        border-color: tint($color-red, 70%);
        background-color: tint($color-red, 90%);
    }

    &.qty {
        width: 70px;
        font-size: 1.2rem;
        font-weight: $font-primary-bold;
    }

    @include input-placeholder {
        color: $color-muted;
    }
}

.dark .form-control {
    border-color: #fff;
}

/* Select */

.select-container {
    position: relative;
    cursor: pointer;

    .select-indicator {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: block;
        width: calc(3.25rem + 2px);
        line-height: calc(3.25rem + 2px);
        font-size: 1.2em;
        @include border-radius(0 0.2rem 0.2rem 0);
        color: #fff;
        background-color: $color-secondary;
        text-align: center;
        @include transition-primary;
        pointer-events: none;

        &:after {
            font-family: 'FontAwesome';
            content:"\f107";
        }
    }

    .form-control   {
        padding-right: 4rem;

        &:focus + .select-indicator {
            background-color: $color-primary;
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px)
}

/* Custom Controls */

.custom-control {
    padding-left: 1.9em;
    margin-right: 1em;
    font-size: inherit;

    .custom-control-description {
        position: relative;
        top: 0.15em;
    }
}

/* Radio - Custom */

.custom-radio {

    .custom-control-input {
        & + .custom-control-indicator {
            top: 0.1em;
            font-weight: 400;
            width: 1.4em;
            height: 1.4em;
            margin-right: 0.5rem;
            @include border-radius(50%);
            border: 1px solid $color-line;
            background-color: #fff;
            @include transition-primary;
        }

        &:checked ~ .custom-control-indicator {
            background-color: $color-primary;
            border-color: $color-primary;
        }

        &:focus + .custom-control-indicator {
            @include box-shadow(none);
            border-color: $color-primary;
        }
    }
}

/* Checkbox - Custom */

.custom-checkbox {

    .custom-control-input {
        & + .custom-control-indicator {
            top: 0.1em;
            font-weight: 400;
            width: 1.4em;
            height: 1.4em;
            margin-right: 0.5rem;
            @include border-radius(0.2rem);
            border: 1px solid $color-line;
            background-color: #fff;
            @include transition-primary;
        }

        &:checked ~ .custom-control-indicator {
            background-color: $color-primary;
            border-color: $color-primary;
        }

        &:focus + .custom-control-indicator {
            @include box-shadow(none);
            border-color: $color-primary;
        }
    }
}

/* Selector */
.selector {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    .selector-input {
        display: none;

        & + .selector-indicator {
            position: relative;
            width: 46px;
            height: 28px;
            background-color: $color-medium;
            display: block;
            @include border-radius(28px);
            @include transition-primary;

            &:after {
                position: absolute;
                height: 20px;
                top: 4px;
                left: 4px;
                width: 20px;
                @include border-radius(50%);
                content: ' ';
                background-color: #fff;
                @include transition-primary;
            }
        }

        &:checked + .selector-indicator:after {
            @include translateX(18px);
            background-color: $color-primary;
        }
    }
}

.dark .selector {
    .selector-input {
        display: none;

        & + .selector-indicator {
            background-color: rgba(#000,0.6);

            &:after {
                background-color: rgba(#fff,0.25);
            }
        }

        &:checked + .selector-indicator:after {
            background-color: $color-primary;
        }
    }
}

/* Form Text */
.form-text {
    font-size: 1.9rem;
    color: $color-muted;
    line-height: 1.5;

    @include media("<=screen-xl") {
        font-size: 1.65rem;
    }

    @include media("<=screen-sm") {
        font-size: 1.5rem;
    }

    @include media("<=screen-xs") {
        font-size: 1.25rem;
    }
}

.dark .form-text {
    color: $color-muted-light;
}

.form-control-text {
    @include input-clear;
    font-size: 1.9rem;
    border-bottom: 2px solid $color-line-light;
    color: inherit;
    font-weight: $font-primary-light;
    margin-top: 0.25em;
    margin-bottom: 0.5rem;

    @include input-placeholder {
        color: $color-muted;
    }

    @include media("<=screen-xl") {
        font-size: 1.65rem;
    }

    @include media("<=screen-sm") {
        font-size: 1.5rem;
    }

    @include media("<=screen-xs") {
        font-size: 1.25rem;
    }

    &.error {
        border-color: $color-red;
    }
}

textarea.form-control-text {
    width: 100%;
}

.dark .form-control-text {
    color: #fff;

    @include input-placeholder {
        color: $color-muted-light;
    }
}



