/* 6.17 Pricing Table
----------------------------------------------------------*/

.pricing-table {
    position: relative;
    @include border-radius(0.5rem);
    text-align: center;
    min-height: 550px;
    padding-bottom: 3.65rem;
    border: 1px solid $color-line;
    margin-left: -1px;

    @include media("<=screen-md") {
        margin-bottom: 2rem;
    }

    .pricing-table-header {
        padding: 2rem 1.5rem;
        line-height: 1.25;
        border-bottom: 1px solid $color-line;

        .title {
            margin-bottom: 0;
            line-height: 1.25;
        }

        .caption {
            font-weight: $font-primary-medium;
            font-size: 0.9rem;
        }
    }

    .pricing-table-price {
        position: relative;
        padding: 2rem 1.5rem 1.5rem;
        border-bottom: 1px solid $color-line;

        .description {
            position: absolute;
            left: 0;
            right: 0;
            color: $color-muted;
            font-size: 0.9rem;

            &:first-child {
                top: 1.25rem;
            }

            &:last-child {
                bottom: 1.25rem;
            }
        }
        .price {
            font-size: 4rem;
            font-weight: $font-primary-light;
            color: $color-primary;

            > span {
                font-size: 60%;
                vertical-align: super;
            }
        }
    }

    .pricing-table-list {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            padding: 1rem;
            font-size: 0.95rem;
            border-bottom: 1px solid $color-line;
            font-weight: $font-primary-medium;
        }
    }

    .pricing-table-submit {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 5px;
    }

    &.featured {
        @include box-shadow(0 0 40px 0 rgba(0,0,0,0.06));
        z-index: 3;
        margin-top: -10px;
        margin-bottom: -10px;
        background-color: #fff;
        border-color: transparent;

        @include media("<=screen-md") {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        .pricing-table-price {
            .price {
                @include animation(3s featuredTextAnimation linear infinite both);

                @include keyframes(featuredTextAnimation) {
                    0% { color: $color-primary; }
                    50% { color: $color-secondary; }
                    100% { color: $color-primary; }
                }
            }
        }
    }
}

.bg-light {
    .pricing-table {
        background-color: #fff;
        border: none;
    }
}

.row.no-gutters {
    .pricing-table {
        @include border-radius(0);

        &:first-child {
            @include border-radius(0.5rem 0 0 0.5rem);
        }

        &:last-child {
            @include border-radius(0 0.5rem 0.5rem 0);
        }

        &.featured {
            @include border-radius(0.5rem);
        }

        @include media("<=screen-md") {
            @include border-radius(0.5rem);
        }
    }
}