/* 6.18 Progress Bar
----------------------------------------------------------*/

.progress {
    @include border-radius(2rem);
    background-color: $color-line;
    line-height: 0.5rem;
    margin: 0.5rem 0;
    overflow: visible;
}

.progress-bar {
    position: relative;
    height: 0.5rem;
    @include border-radius(2rem);
    background-color: $color-primary;
    overflow: visible;

    > span {
        position: absolute;
        right: 0;
        top: 50%;
        @include translateY(-50%);
        background-color: #fff;
        @include border-radius(50%);
        width: 2.75rem;
        height: 2.75rem;
        line-height: calc(2.75rem - 3px);
        text-align: center;
        font-size: 0.8rem;
        font-weight: $font-primary-semibold;
        border: 3px solid $color-primary;
        color: $color-global;
    }
}

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
    $type: nth($colorVersions,$k);
    $color: nth($colorVersions,$k+1);

    &.progress-bar-#{$type} {
        background-color: $color;
        color: #fff;

        > span {
            border-color: $color;
        }
    }
    $k: $k+2;
}
