/* 6.19 Testimonials
----------------------------------------------------------*/

.testimonial {
	.testimonial-content {
		position: relative;
        padding: 2.5rem 3rem;
        z-index: 2;
        font-size: 1.9rem;
        font-weight: $font-primary-light;
        line-height: 1.5;
        background-color: $color-light;
        @include border-radius(0.4rem);
        margin-bottom: 0;

        @include media("<=screen-md") {
            font-size: 1.75rem;
        }

        @include media("<=screen-xs") {
            padding: 2rem;
            font-size: 1.5rem;
        }

        &:after {
            position: absolute;
            top: 100%;
            right: 30px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 30px 30px 0;
            border-color: transparent $color-light transparent transparent;
            content: ' ';
        }
	}

    .testimonial-author {
        @include display-flex;
        @include align-items(center);
        padding: 1.5rem 3rem;

        .testimonial-author-image {
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            margin-right: 1rem;
        }

        .testimonial-author-content {
            @include flex(1 1 auto);
            line-height: 1.25;

            .name {
                margin-bottom: 0;
                font-size: 0.9rem;
            }
            .caption {
                font-size: 0.8rem;
                @include opacity(0.5);
            }
        }
    }

    &.testimonial-primary {
        .testimonial-content {
            background-color: $color-primary !important;
            color: #fff;

            &:after {
                border-color: transparent $color-primary transparent transparent !important;
            }
        }
    }
}

.dark .testimonial {
    .testimonial-content {
        background-color: rgba(#000,0.15);

        &:after {
            border-color: transparent rgba(#000,0.15) transparent transparent;
        }
    }

    &:nth-child(2n) .testimonial-content {
        background-color: rgba(#fff,0.15);

        &:after {
            border-color: transparent rgba(#fff,0.15) transparent transparent;
        }
    }
}

.bg-light .testimonial {
    .testimonial-content {
        background-color: #fff;

        &:after {
            border-color: transparent #fff transparent transparent;
        }
    }
}
