/* 6.20 Typography 
----------------------------------------------------------*/

/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	font-weight: $font-primary-semibold;
} 


h1, .h1 { 
	font-weight: $font-primary-light;

	@include media("<=screen-md") {
		font-size: 2.25rem;
	}
}

h2, .h2 { 
	font-weight: $font-primary-light;

	@include media("<=screen-md") {
		font-size: 1.75rem;
	}
}

h3, .h3 { 
}

h4, .h4 { 
}

h5, .h5 { 
	font-size: 1.15rem;
}

h6, .h6 { 
	font-size: 0.9rem;
}

/* Display */

.display-1, .display-2, .display-3, .display-4 {
	font-weight: $font-primary-light;
}

.display-4 {
	@include media("<=screen-md") {
		font-size: 2.5rem;
	}
}

.display-3 {
	@include media("<=screen-md") {
		font-size: 2.75rem;
	}
}

/* Paragraph */

p {
	font-size: 1rem;
	margin-bottom: 2rem;
    line-height: 1.6;
	font-weight: $font-primary-light;
}

p.lead {
	font-size: 1.35rem;
	margin-bottom: 2rem;
	font-weight: $font-primary-light;

	&.text-lg {
		font-size: 2.25rem;

		@include media("<=screen-md") {
			font-size: 1.75rem;
		}
	}
}

.blockquote {
	position: relative;
	border: none;
	@include border-radius(0.4rem);
	background-color: $color-light;
	padding: 2.5rem;
	line-height: 1.75;

	.bg-image-container {
		@include border-radius(0.4rem);	
	}

	> *:not(.bg-image-container) {
		position: relative;
		z-index: 2;
	}

	p {
		font-size: inherit;
	}

	footer {
		font-size: 1rem;
		margin-top: 1.5rem;

		img {
			@include border-radius(50%);
			width: 42px;
			height: 42px;
			vertical-align: middle;
			margin-right: 1rem;
		}
	}
}

.bg-light .blockquote {
	background-color: #fff;
}

/* Sizes */

.text-lg { font-size: 1.2rem; }
.text-sm { font-size: 0.9rem; }
.text-xs { font-size: 0.8rem; }

/* Colors */

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	.text-#{$type} {
		color: $color !important;
	}
	$k: $k+2;
}

.text-dark { color: $color-global !important; }
.text-medium { color: $color-medium !important; }
.dark .text-muted { color: $color-muted-light !important;  }
.light .text-muted { color: $color-muted !important; }

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	a.text-#{$type} {
		&:hover, &:focus {
			color: shade($color,20%) !important;
		}
	}
	$k: $k+2;
}

/* Description */

dl {
	dt {
		@include opacity(0.4);
	}
}