/* 6.21 Window
----------------------------------------------------------*/

.window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 995;
	display: none;
	overflow: auto;
	//background-color: $color-primary;

	&.show {
		display: block;
	}

	.window-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		fill: $color-primary;
		z-index: 1;
	}

	.window-inner {
		position: relative;
		height: 100%;
		overflow: auto;
		@include transition-primary;
		visibility: hidden;
		@include opacity(0);
		z-index: 2;
	}

	&.visible {
		.window-inner {
			visibility: visible;
			@include opacity(1);
		}
	}
}

.window-primary .window-background {
	fill: $color-primary;
}

.window-dark .window-background {
	fill: $color-dark;
}

.window-toggle {
	@include button-clear;
	position: fixed;
	z-index: 900;
	bottom: 50px;
	right: 50px;
	width: 40px;
	height: 40px;
	font-size: 1rem;
	@include border-radius(50%);
	display: block;
	z-index: 996;
	@include transition-tertiary;
	@include opacity(0);
	@include scale(0);
	visibility: hidden;
	@include box-shadow(3px 3px 30px 0 rgba(#000,0.1));

	@include media("<=screen-xl") {
		bottom: 40px;
		right: 40px;
	}

	@include media("<=screen-sm") {
		bottom: 30px;
		right: 30px;
	}

    @include media("<=screen-xxs") {
       bottom: 20px;
        right: 20px;
    }

	> i {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		line-height: 40px;
		text-align: center;
		@include transition-primary;
		color: #fff;
		z-index: 5;

		&:last-child {
			margin-top: 0.5rem;
			visibility: hidden;
			@include opacity(0);
		}
	}

	&:before {
		@include fill-parent;
		background-color: $color-primary;
		@include border-radius(50%);
		@include transition-tertiary;
	}

	&:after {
		@include fill-parent;
		background-image: radial-gradient(rgba($color-primary,0), $color-primary);
		background-size: cover;
		@include animation(windowToggleAnimation 1s infinite);
		@include border-radius(50%);
		z-index: 2;
	}

	@include keyframes(windowToggleAnimation) {
		0% { 
			@include scale(1);
		}
		100% { 
			@include scale(1.5); 
			@include opacity(0);
		}
	}

	&:hover {
		&:before {
			@include scale(1.25);
		}
	}

	&.active {
		@include box-shadow(0 0 20px 0 rgba(#000,0.1));
		color: $color-primary;

		&:before {
			@include scale(1.25);
			background-color: #fff;
		}

		&:after {
			visibility: hidden;
		}

		> i {
			color: $color-primary;
			&:first-child {
				margin-top: -0.5rem;
				visibility: hidden;
				@include opacity(0);
			}
			&:last-child {
				margin-top: 0;
				visibility: visible;
				@include opacity(1);
			}
		}
	}
}

body.loaded .window-toggle {
	@include opacity(1);
	@include scale(1);
	visibility: visible;
}